
.code-editor-container { 
    border-radius: 8px; 
    margin-top: 20px;
    margin-bottom: 15px; 
}

.code-editor-header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.code-editor-header h2 {
    color: #fff;
    font-size: 18px;  
}

.copy-code-button { 
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.copy-code-button span {
    margin-left: 5px;
}

.code-editor {
    /* background-color: #070201; */ 
    border-radius: 4px;
    height: auto;
}
